<html>

<head>
    <title>Login Page</title>
    <link rel="icon" href="static/icom.png">
    <link rel=stylesheet href='static/css/index.css'>
</head>


<body>
    <div class='container'>
        <div class="main">
            <p class="sign" align="center">Sign In</p>
            <form class="form1" method="POST" action="">

                <input name='id' class="un" type="text" align="center" placeholder="Email">
                <input name='pass' class="pass" type="password" align="center" placeholder="Password">
                <input type="submit" class='submit' align="center">

        </div>
    </div>
</body>

</html>